# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.env
.gitignore
# testing
/coverage
/images

package-lock.json
app-2025-01-04.log
# production




# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log
*.json

